@model TimesheetSystem.ViewModels.WeeklyTimesheetViewModel
<div>
	@* week selector: simpler than a calendar control for moving around weeks; would not work well for long timescales*@
	<div class="form-group">
		<div class="input-group align-items-center">
			<label class="form-label mb-0 fw-bold">Week Starting:</label>
			<input type="text" class="form-control" value="@Model.WeekStartDate.ToString("dddd, dd MMMM yyyy")" readonly />
			<a	asp-controller="Timesheet" 
				asp-action="Index" 
				asp-route-userId="@Model.SelectedUserId"
				asp-route-weekStart="@Model.WeekStartDate.AddDays(-7).ToString("yyyy-MM-dd")"
				class="btn btn-secondary">Prev. week</a>
			<a asp-controller="Timesheet"
			   asp-action="Index"
			   asp-route-userId="@Model.SelectedUserId"
			   asp-route-weekStart="@Model.WeekStartDate.AddDays(7).ToString("yyyy-MM-dd")"
			   class="btn btn-secondary">Next week</a>
		</div>
	</div>
</div>

@if (Model.SelectedUserId > 0)
{
	<div class="row mb-3">
		<div class="col-md-12">
			<a asp-controller="Timesheet" asp-action="Add"
			   asp-route-userId="@Model.SelectedUserId"
			   asp-route-weekStart="@Model.WeekStartDate.ToString("yyyy-MM-dd")"
			   class="btn btn-primary">
				Add New Entry
			</a>
		</div>
	</div>
}